hello-cicd/src/main/mule/hello-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1d8952c6-b0df-4ddf-873a-09cf52b2b381" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7aef2f55-d7b5-42f0-994e-fd2d20dcd1c2" file="cicd.properties" />
	<flow name="hello-cicdFlow" doc:id="1dba1ba1-238e-4744-958f-64a8b0aa056c" >
		<http:listener doc:name="Listener" doc:id="dce61863-1c78-40ce-82ed-03a340b7c199" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="064fceb0-daa5-40f6-a4f1-b94fd7eb3833" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status : "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b28fcc0f-4f0d-460a-ab4a-1406a156e1f4" message="&gt;&gt; #[payload]"/>
	</flow>
</mule>
